.accordion {
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.accordion-header {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  background-color: #25292f;
  border-bottom: 1px solid #ddd;
  color: #e6e8db;
}

.accordion-header h2 {
  margin: 0;
}

.icon {
  font-size: 1.1rem;
  transition: transform 0.5s ease;
}

.icon.open {
  transform: rotate(180deg);
}

.accordion-content {
  max-height: 300px;
  overflow: hidden;
  transition: max-height 0.5s ease;
  justify-content: center;  
}

.accordion-content-inner {
  padding: 1rem;
}
