a{ 
       
    margin:10px;
}
a:hover{
color:#45B8C9 !important;
}
p{
    width:45%;
}

.Text-Bild{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
    margin-left:10%;
    
}
.icon{
    width:45%;
}
.HohmeLink{
    font-size: large;
    color:white !important;
}