.sidebar {
    position: fixed !important;
    height: 100vh;
    width: 70px; /* adjust as needed */
    left: 0;
    top: 0;
    overflow: auto;
    background-color: #2b2f37;
    
  }
  .sidebar-expanded {
    width: 200px; /* Adjust as needed */
    transition: width 0.3s ease-in-out;
  }
  .sidebar-unexpanded {
    width:70px;
    transition: width 0.3s ease-in-out;
  }
  .nav-icon{
    display:flex !important;
  }
  .nav-icon span{
    margin-left:10px;
  }

  