.sidebar {
    height: 100vh;
    overflow: auto;
    background-color: #2b2f37;
    box-shadow: 5px 0px 2px rgb(0,0,0,20%);
  grid-column: 1;
    
  }
  .sidebar-expanded {
    width: 200px; /* Adjust as needed */
    transition: width 0.3s ease-in-out;
  }
  .sidebar-unexpanded {
    width:70px;
    transition: width 0.3s ease-in-out;
  }
  .nav-icon{
    display:flex !important;
  }
  .nav-icon span{
    margin-left:10px;
  }

  